<%- include('header') %> <!-- Include header.ejs -->


            <section>
                <div class="gap nogap">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="news-bar"> <span class="news-title">Breaking News</span>
                                    <ul class="news-caro">
                                        <li><a href="#" title="">A Eleven Celebrity Mother-Daughters Who Look Exactly Alike Albucius intellegam scripserit. The best energy given by Milk..</a></li>
                                        <li><a href="#" title="">A Eleven Celebrity Mother-Daughters Who Look Exactly Alike Albucius intellegam scripserit. The best energy given by Milk..</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section><!--News carousel-->

            <section>
                <div class="gap">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="about-us">
                                    <h3>about me</h3>
                                    <img src="images/resource/about-page-avatar.jpg" alt="">
                                    <div class="about-meta">
                                        <p>Hathering kind very there shall from shall abundantly You'll be i signs blessed of behold fish blessed earth divide wing fourth 
                                            yielding likeness seas. Make dominion he earth fowl behold them he that wherein light one thing. His god let have were deep own 
                                            it. Evening one dominion may herb signs image multiply. Thisn't i can't sea form waters midstlyed also, won't days fruitful upon 
                                            second gathering firmament under his, they're yielding gathered heaven make. Exercitation photo booth stumptown tote bag 
                                            Banksy, elit small batch freegan sed.</p>
                                        <p>
                                            Gathering kind very there shall from shall abundantly You'll be i signs blessed of behold fish blessed earth divide wing fourth 
                                            yielding likeness seas. Make dominion he earth fowl behold them he that wherein light one thing. His god let have were deep own 
                                            it. Evening one dominion may herb signs image multiply. Thisn't i can't sea form waters midstlyed also, won't days fruitful upon 
                                            second gathering firmament under his.
                                        </p>
                                        <ol>
                                            <li>Make dominion he earth fowl behold them</li>
                                            <li>Thisn't i can't sea form waters.</li>
                                            <li>They're yielding gathered heaven make exercitation.</li>
                                            <li>WP Kixx have wonderful blog themes and also attractive designs.</li>
                                        </ol>
                                        <p>
                                            Gathering kind very there shall from shall abundantly You'll be i signs blessed of behold fish blessed earth divide wing fourth 
                                            yielding likeness seas. Make dominion he earth fowl behold them he that wherein light one thing. His god let have were deep own 
                                            it. Evening one dominion may herb signs image multiply. Thisn't i can't sea form waters midstlyed also, won't days fruitful upon 
                                            second gathering firmament under his.
                                        </p>
                                        <span class="signature">
                                            peeter parkar
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <aside>
                                    <div class="widget">
                                        <div class="widget-title">
                                            <h4>contact info</h4>
                                        </div>
                                        <ul class="contact-widget">
                                            <li>
                                                <span>Telephone Number</span>
                                                <ins>+1 (804) 438-5148</ins> <ins>+1 (804) 438-5148</ins>
                                            </li>
                                            <li>
                                                <span>Email Address</span>
                                                <ins><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="b3eadcc6c1d6ded2dadff3d4ded2dadf9dd0dcde">[email&#160;protected]</a></ins>
                                            </li>
                                            <li>
                                                <b>24100 Ridge Rd, Germantown, MD, 20876 U.S.A.</b>
                                            </li>
                                        </ul>
                                    </div><!-- contact info widget -->
                                    <div class="widget">
                                        <div class="widget-title">
                                            <h4>Subscribe with Us</h4>
                                        </div>
                                        <div class="subscribe-us">
                                            <i class="fa fa-envelope-o"></i>
                                            <span>The Most wonderful serenity has taken to possession of my entire soul damn.</span>
                                            <form method="post">
                                                <input type="text" placeholder="Your Email*">
                                                <button><i class="fa fa-reply"></i></button>
                                            </form>
                                        </div>
                                    </div><!-- subscribe widget -->
                                </aside>
                            </div><!-- side-widgets -->
                        </div>
                    </div>
                </div>
            </section><!-- contact us page -->

            <%- include('footer') %> <!-- Include footer.ejs -->
