<%- include('header') %> <!-- Include header.ejs -->


            <section>
                <div class="gap nogap">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="news-bar"> <span class="news-title">Breaking News</span>
                                    <ul class="news-caro">
                                        <li><a href="single.html" title="">A Eleven Celebrity Mother-Daughters Who Look Exactly Alike Albucius intellegam scripserit. The best energy given by Milk..</a></li>
                                        <li><a href="single.html" title="">A Eleven Celebrity Mother-Daughters Who Look Exactly Alike Albucius intellegam scripserit. The best energy given by Milk..</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section><!--News carousel-->


            <section>
                <div class="gap">
                    <div class="container">
                        <div class="row remove-ext">
                            <div class="col-md-3 col-sm-4">
                                <div class="hl-trending-grid">
                                    <i class="fa fa-bolt"></i>
                                    <img src="images/resource/trending-grid-1.jpg" alt="">
                                    <div class="hl-trend-meta">
                                        <ul class="post-meta3">
                                            <li><i class="fa fa-calendar-o"></i><a href="#" title="">30 May, 2017 By</a></li>
                                            <li class="admin"><a href="#" title="">Admin</a></li>
                                        </ul>
                                        <h5><a href="single.html" title="">The Ultimate Revelation Of People</a></h5>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4">
                                <div class="hl-trending-grid">
                                    <i class="fa fa-bolt"></i>
                                    <img src="images/resource/trending-grid-2.jpg" alt="">
                                    <div class="hl-trend-meta">
                                        <ul class="post-meta3">
                                            <li><i class="fa fa-calendar-o"></i><a href="#" title="">30 May, 2017 By</a></li>
                                            <li class="admin"><a href="#" title="">Admin</a></li>
                                        </ul>
                                        <h5><a href="single.html" title="">7 Reliable Sources for fashion of the week</a></h5>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4">
                                <div class="hl-trending-grid">
                                    <i class="fa fa-bolt"></i>
                                    <img src="images/resource/trending-grid-3.jpg" alt="">
                                    <div class="hl-trend-meta">
                                        <ul class="post-meta3">
                                            <li><i class="fa fa-calendar-o"></i><a href="#" title="">30 May, 2017 By</a></li>
                                            <li class="admin"><a href="#" title="">Admin</a></li>
                                        </ul>
                                        <h5><a href="single.html" title="">The Story Behind the Forest will hunt you</a></h5>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4">
                                <div class="hl-trending-grid">
                                    <i class="fa fa-bolt"></i>
                                    <img src="images/resource/trending-grid-4.jpg" alt="">
                                    <div class="hl-trend-meta">
                                        <ul class="post-meta3">
                                            <li><i class="fa fa-calendar-o"></i><a href="#" title="">30 May, 2017 By</a></li>
                                            <li class="admin"><a href="#" title="">Admin</a></li>
                                        </ul>
                                        <h5><a href="single.html" title="">A Sweet Truth About Girls of fashion Tv</a></h5>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4">
                                <div class="hl-trending-grid">
                                    <i class="fa fa-bolt"></i>
                                    <img src="images/resource/trending-grid-5.jpg" alt="">
                                    <div class="hl-trend-meta">
                                        <ul class="post-meta3">
                                            <li><i class="fa fa-calendar-o"></i><a href="#" title="">30 May, 2017 By</a></li>
                                            <li class="admin"><a href="#" title="">Admin</a></li>
                                        </ul>
                                        <h5><a href="single.html" title="">The Reasons Why We Love Restaurant ?</a></h5>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4">
                                <div class="hl-trending-grid">
                                    <i class="fa fa-bolt"></i>
                                    <img src="images/resource/trending-grid-6.jpg" alt="">
                                    <div class="hl-trend-meta">
                                        <ul class="post-meta3">
                                            <li><i class="fa fa-calendar-o"></i><a href="#" title="">30 May, 2017 By</a></li>
                                            <li class="admin"><a href="#" title="">Admin</a></li>
                                        </ul>
                                        <h5><a href="single.html" title="">Kerala, India: They call it Own Country</a></h5>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4">
                                <div class="hl-trending-grid">
                                    <i class="fa fa-bolt"></i>
                                    <img src="images/resource/trending-grid-7.jpg" alt="">
                                    <div class="hl-trend-meta">
                                        <ul class="post-meta3">
                                            <li><i class="fa fa-calendar-o"></i><a href="#" title="">30 May, 2017 By</a></li>
                                            <li class="admin"><a href="#" title="">Admin</a></li>
                                        </ul>
                                        <h5><a href="single.html" title="">What People Are Saying About Car</a></h5>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4">
                                <div class="hl-trending-grid">
                                    <i class="fa fa-bolt"></i>
                                    <img src="images/resource/trending-grid-8.jpg" alt="">
                                    <div class="hl-trend-meta">
                                        <ul class="post-meta3">
                                            <li><i class="fa fa-calendar-o"></i><a href="#" title="">30 May, 2017 By</a></li>
                                            <li class="admin"><a href="#" title="">Admin</a></li>
                                        </ul>
                                        <h5><a href="single.html" title="">Designer fashion show kicks off Variety Week</a></h5>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section><!-- trending post -->

            <section>
                <div class="gap blackish low-opacity">
                    <div class="parallax" style="background:url(images/resource/parallax-2.jpg);" data-velocity="-.2"></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="ads">
                                    <a href="#" title=""><img src="images/resource/ad__.jpg" title="" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section><!-- ad with paralex -->


            <%- include('footer') %> <!-- Include footer.ejs -->
