<%- include('header') %> <!-- Include header.ejs -->


            <section>
                <div class="gap nogap">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="news-bar"> <span class="news-title">Breaking News</span>
                                    <ul class="news-caro">
                                        <li><a href="#" title="">A Eleven Celebrity Mother-Daughters Who Look Exactly Alike Albucius intellegam scripserit. The best energy given by Milk..</a></li>
                                        <li><a href="#" title="">A Eleven Celebrity Mother-Daughters Who Look Exactly Alike Albucius intellegam scripserit. The best energy given by Milk..</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section><!--News carousel-->

            <section>
                <div class="gap">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="contact-us">
                                    <div class="bread-crumb">
                                        <ul>
                                            <li><a href="#" title="">home</a></li>
                                            <li><a href="#" title="">contact page</a></li>
                                        </ul>
                                    </div>
                                    <div class="gap no-top contact-detail">
                                        <h3>Contact Page</h3>
                                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, is rem aperiam, 
                                            eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt to the explicabo. Nemo 
                                            ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia for consequuntur magni dolores eos qui 
                                            ratione voluptatem sequi nesciunt.</p>
                                        <p>Quasi architecto beatae vitae dicta sunt to the explicabo. Nemo enim ipsam voluptatem quia voluptas consequto
                                            untur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                                    </div>
                                    <div class="contact-form">
                                        <div class="single-title">
                                            <h4>contact us</h4>
                                        </div>
                                        <div class="row">
                                            <form>
                                                <div class="col-sm-6">
                                                    <input placeholder="your name*" type="text">
                                                </div>
                                                <div class="col-sm-6">
                                                    <input placeholder="your email*" type="text">
                                                </div>
                                                <div class="col-sm-12">
                                                    <textarea cols="30" rows="10" placeholder="your comment*"></textarea>
                                                </div>
                                                <div class="col-sm-12">
                                                    <button type="submit">submit</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <aside>
                                    <div class="widget">
                                        <div class="widget-title">
                                            <h4>contact info</h4>
                                        </div>
                                        <ul class="contact-widget">
                                            <li>
                                                <span>Telephone Number</span>
                                                <ins>+1 (804) 438-5148</ins> <ins>+1 (804) 438-5148</ins>
                                            </li>
                                            <li>
                                                <span>Email Address</span>
                                                <ins><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="d68fb9a3a4b3bbb7bfba96b1bbb7bfbaf8b5b9bb">[email&#160;protected]</a></ins>
                                            </li>
                                            <li>
                                                <b>24100 Ridge Rd, Germantown, MD, 20876 U.S.A.</b>
                                            </li>
                                        </ul>
                                    </div><!-- contact info widget -->
                                    <div class="widget">
                                        <div class="widget-title">
                                            <h4>Subscribe with Us</h4>
                                        </div>
                                        <div class="subscribe-us">
                                            <i class="fa fa-envelope-o"></i>
                                            <span>The Most wonderful serenity has taken to possession of my entire soul damn.</span>
                                            <form method="post">
                                                <input type="text" placeholder="Your Email*">
                                                <button><i class="fa fa-reply"></i></button>
                                            </form>
                                        </div>
                                    </div><!-- subscribe widget -->
                                </aside>
                            </div><!-- side-widgets -->
                        </div>
                    </div>
                </div>
            </section><!-- contact us page -->

            <section>
                <div class="gap nogap">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="contact-map">
                                    <div id="map"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section><!-- google map -->

                      <%- include('footer') %> <!-- Include footer.ejs -->

       