<footer>
    <div class="gap nogap">
        <div class="container">
            <div class="row">
                <div class="footer-widget">
                    <div class="col-md-3 col-sm-4">
                        <div class="widget">
                            <div class="footer-logo">
                                <h1><a href="index.html" title=""><img src="images/logo2.png" alt=""></a></h1>
                                <p>ManOps is all about mens dev and everything involved in making you successful and happy</p>
                            </div>
                            <ul class="social">
                                <li><a href="#" title=""><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" title=""><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" title=""><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#" title=""><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4">
                        <div class="widget">
                            <div class="widget-title">
                                <h4>Posts</h4>
                            </div>
                            <ul class="ftr-popular-caro">
                                <li><a href="single.html" title=""><img src="images/resource/footer-carousel-1.jpg" alt=""></a>
                                    <div class="over-meta">
                                        <h5><a href="single.html" title="">sydney trafic block</a></h5>
                                    </div>
                                </li>
                                <li><a href="single.html" title=""><img src="images/resource/footer-carousel-2.jpg" alt=""></a>
                                    <div class="over-meta">
                                        <h5><a href="single.html" title="">sydney trafic block</a></h5>
                                    </div>
                                </li>
                                <li><a href="single.html" title=""><img src="images/resource/footer-carousel-3.jpg" alt=""></a>
                                    <div class="over-meta">
                                        <h5><a href="single.html" title="">sydney trafic block</a></h5>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4">
                        <div class="widget">
                            <div class="widget-title">
                                <h4>Quick Links</h4>
                            </div>
                            <ul class="ftr-popu-categories">
                                <li><a href="#" title="">Home</a></li>
                                <li><a href="#" title="">Blogs</a></li>
                                <li><a href="#" title="">Personal Growth</a></li>
                                <li><a href="#" title="">Skills & Education</a></li>
                                <li><a href="#" title="">Jobs & Career</a></li>
                                <li><a href="#" title="">Style & Fashion</a></li>
                                <li><a href="#" title="">Health & Fitness</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="widget">
                            <div class="widget-title">
                                <h4>Recent Posts</h4>
                            </div>
                            <ul class="ftr-recent">
                                <li>
                                    <a href="single.html" title=""><img src="images/resource/recent-post-1.jpg" alt=""></a>
                                    <div class="recent-meta">
                                        <h2><a href="single.html" title="">Rose Pharmacy Water Benefits for Skin finishing care.</a></h2>
                                        <span>05 March, 2017</span>
                                    </div>
                                </li>
                                <li>
                                    <a href="single.html" title=""><img src="images/resource/recent-post-2.jpg" alt=""></a>
                                    <div class="recent-meta">
                                        <h2><a href="single.html" title="">Rose Pharmacy Water Benefits for Skin finishing care.</a></h2>
                                        <span>05 March, 2017</span>
                                    </div>
                                </li>
                                <li>
                                    <a href="single.html" title=""><img src="images/resource/recent-post-3.jpg" alt=""></a>
                                    <div class="recent-meta">
                                        <h2><a href="single.html" title="">Rose Pharmacy Water Benefits for Skin finishing care.</a></h2>
                                        <span>05 March, 2017</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer><!-- footer -->	

<div class="bottom-bar">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="copyright">
                    <h5>All right reserved by <span>ZeeTech</span> &copy; 2024</h5>
                </div>
            </div>
        </div>
    </div>
</div><!-- bottombar -->	



</div><!-- Theme Layout -->

<!-- Scripts -->

<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script type="text/javascript" src="js/jquery.js"></script><!-- Jquery -->
<script type="text/javascript" src="js/bootstrap.min.js"></script><!-- Bootstrap -->
<script type="text/javascript" src="js/owl.carousel.min.js"></script><!-- Carousal -->
<script type="text/javascript" src="js/jquery.scrolly.js"></script>
<script type="text/javascript" src="js/html5lightbox.js"></script>
<script type="text/javascript" src="js/perfect-scrollbar.jquery.js"></script>
<script type="text/javascript" src="js/perfect-scrollbar.js"></script>
<script type="text/javascript" src="js/scrolltopcontrol.js"></script>	
<script type="text/javascript" src="js/clock.js"></script><!-- Current time show on topbar plugin -->
<script src="js/script.js"></script>
</body>
</html>