<!DOCTYPE html>
<html>
    <head>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <title>ManOps</title>
        <meta name="keywords" content="" />
        <link rel="icon" href="images/fav.png" type="image/png" sizes="16x16">

        <!-- Styles -->
        <link rel="stylesheet" href="css/font-awesome.min.css">                 
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/owl.carousel.css"> 
        <link rel="stylesheet" href="css/animate.css">                  
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/black.css">            
        <link rel="stylesheet" href="css/color.css">                
        <link rel="stylesheet" href="css/responsive.css">

    </head>

    <body class="black" itemscope onLoad="goforit()">

        <div class="theme-layout">

            <header class="style1">
                <div class="top-bar">
                    <div class="container">
                        <div class="current-time">
                            <span id="clock"><small>Thursday, July 14, 2025</small></span>
                            <ul>
                                <li><a href="/blog" title="">Blog</a></li>
                                <li><a href="/blogs" title="">Blogs</a></li>

                                <li><a href="#" title="">contact</a></li>
                                <li><a href="#" title="">Job offers!</a></li>
                                <li><a href="/dashboard" title="">dashboard</a></li>

                            </ul>
                        </div>
                        <div class="login-register">
                            <a href="#" title="">Fix Up!!</a>
                            <div class="login-wraper">
                                <div class="login-popup">
                                    <img itemprop="image" src="images/resource/login-background.jpg" alt="">
                                    <span class="close"><i class="fa fa-close"></i></span>
                                    <b>Best M</b>
                                    <h3 itemprop="headline">Exactly</h3>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="card">
                
                                                <div class="card-body">
                                                    
                                                    <div class="live-preview">
                                                        <form action="javascript:void(0);">
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div class="mb-3">
                                                                        <label for="firstNameinput" class="form-label">First Name</label>
                                                                        <input type="text" class="form-control" placeholder="Enter your firstname" id="firstNameinput">
                                                                    </div>
                                                                </div>
                                                                <!--end col-->
                                                                <div class="col-md-6">
                                                                    <div class="mb-3">
                                                                        <label for="lastNameinput" class="form-label">Last Name</label>
                                                                        <input type="text" class="form-control" placeholder="Enter your lastname" id="lastNameinput">
                                                                    </div>
                                                                </div>
                                                                <!--end col-->
                                                                <div class="col-md-12">
                                                                    <div class="mb-3">
                                                                        <label for="compnayNameinput" class="form-label">Company Name</label>
                                                                        <input type="text" class="form-control" placeholder="Enter company name" id="compnayNameinput">
                                                                    </div>
                                                                </div>
                                                                <!--end col-->
                                                                <div class="col-md-6">
                                                                    <div class="mb-3">
                                                                        <label for="phonenumberInput" class="form-label">Phone Number</label>
                                                                        <input type="tel" class="form-control" placeholder="+(245) 451 45123" id="phonenumberInput">
                                                                    </div>
                                                                </div>
                                                                <!--end col-->
                                                                <div class="col-md-6">
                                                                    <div class="mb-3">
                                                                        <label for="emailidInput" class="form-label">Email Address</label>
                                                                        <input type="email" class="form-control" placeholder="example@gamil.com" id="emailidInput">
                                                                    </div>
                                                                </div>
                                                                <!--end col-->
                                                                <div class="col-md-12">
                                                                    <div class="mb-3">
                                                                        <label for="address1ControlTextarea" class="form-label">Address</label>
                                                                        <input type="text" class="form-control" placeholder="Address 1" id="address1ControlTextarea">
                                                                    </div>
                                                                </div>
                                                                <!--end col-->
                                                                <div class="col-md-6">
                                                                    <div class="mb-3">
                                                                        <label for="citynameInput" class="form-label">City</label>
                                                                        <input type="email" class="form-control" placeholder="Enter your city" id="citynameInput">
                                                                    </div>
                                                                </div>
                                                                <!--end col-->
                                                                <div class="col-md-6">
                                                                    <div class="mb-3">
                                                                        <label for="ForminputState" class="form-label">State</label>
                                                                        <select id="ForminputState" class="form-select" data-choices data-choices-sorting="true">
                                                                            <option selected>Choose...</option>
                                                                            <option>...</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <!--end col-->
                                                                <div class="col-lg-12">
                                                                    <div class="text-end">
                                                                        <button type="submit" class="btn btn-primary">Submit</button>
                                                                    </div>
                                                                </div>
                                                                <!--end col-->
                                                            </div>
                                                            <!--end row-->
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                       

                                    </div>
                                </div>
                            </div>
                        </div>
                        <ul class="social-btns">
                            <li><a href="#" target="_blank" title=""><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" target="_blank" title=""><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" target="_blank" title=""><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#" target="_blank" title=""><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#" target="_blank" title=""><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div><!-- Top Bar -->
                <div class="logo-bar">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="logo">
                                    <a title="/" href="index.html"><img alt="headline" src="images/logo.png"></a>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <div class="ad">
                                    <a href="#" title=""><img  alt="" src="images/resource/ad.jpg"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- Logo Bar -->
                <div class="menu-bar dark">
                    <div class="container">
                        <nav>
                            <ul>
                                <li><a href="/" title="">Home</a>  </li>
                                <li><a href="blogs" title="">Blogs</a>  </li>

                                <li class="menu-item-has-children"><a href="#" title="">Personal Growth</a>
                                    <div class="mega-menu1">
                                        <div class="tab-content">
                                            <div class="">
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <div class="post-style3">
                                                            <div class="post-thumb3"><a href="single.html" title="" class="img-link"><img src="images/resource/megamenu-post1.jpg" alt="" /></a></div>
                                                            <h2><a href="single.html" title="">Habits & Routines</a></h2>
                                                            
                                                        </div><!-- Post Stye 3 -->
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="post-style3">
                                                            <div class="post-thumb3"><a href="single.html" title="" class="img-link"><img src="images/resource/megamenu-post2.jpg" alt="" /></a></div>
                                                            <h2><a href="single.html" title="">Mindset</a></h2>
                                                            
                                                        </div><!-- Post Stye 3 -->
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="post-style3">
                                                            <div class="post-thumb3"><a href="single.html" title="" class="img-link"><img src="images/resource/megamenu-post3.jpg" alt="" /></a></div>
                                                            <h2><a href="single.html" title="">Success Stories</a></h2>
                                                            
                                                        </div><!-- Post Stye 3 -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="menu-item-has-children"><a href="#" title="">Skills & Education</a>
                                    <ul class="sub-menu">
                                        <li class="menu-item-has-children"><a href="#" title="">Courses</a>
                                            <ul class="sub-menu">
                                                <li><a href="single-with-left-sidebar.html" title="">Books</a></li>
                                                <li><a href="single.html" title="">Blog detail right sidebar</a></li>
                                                <li><a href="single-without-sidebar.html" title="">Blog detail without sidebar</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children"><a href="#" title="">Books</a>
                                            <ul class="sub-menu">
                                                <li><a href="404.html" title="">404 error page</a></li>
                                                <li><a href="coming-soon.html" title="">coming soon</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="archives.html" title="">Career Skills</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children"><a href="#" title="">Jobs & Career</a>
                                    <div class="mega-menu1">
                                        <div class="tab-content">
                                            <div class="">
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <div class="post-style3">
                                                            <div class="post-thumb3"><a href="single.html" title="" class="img-link"><img src="images/resource/megamenu-post1.jpg" alt="" /></a></div>
                                                            <h2><a href="single.html" title="">Job Listings</a></h2>
                                                            
                                                        </div><!-- Post Stye 3 -->
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="post-style3">
                                                            <div class="post-thumb3"><a href="single.html" title="" class="img-link"><img src="images/resource/megamenu-post2.jpg" alt="" /></a></div>
                                                            <h2><a href="single.html" title="">Career Tips</a></h2>
                                                            
                                                        </div><!-- Post Stye 3 -->
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="post-style3">
                                                            <div class="post-thumb3"><a href="single.html" title="" class="img-link"><img src="images/resource/megamenu-post3.jpg" alt="" /></a></div>
                                                            <h2><a href="single.html" title="">Freelance Opportunities</a></h2>
                                                            
                                                        </div><!-- Post Stye 3 -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="menu-item-has-children"><a href="#" title="">Style & Fashion</a>
                                    <li><a href="blogs" title="">Health & Fitness</a>  </li>

                                <li><a href="/contact" title="">Contact Us</a></li>
                            </ul>
                          
            </header><!-- Header -->

            <div class="responsive-header">
                <div class="res-logo-area">
                    <div class="col-sm-9 col-xs-6">
                        <a href="#" title=""><img src="images/logo2.png" alt=""></a>
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <div id="nav-icon3">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="responsive-menu">
                    <a href="#" title=""><img src="images/logo2.png" alt=""></a>
                    <ul>
                        <li><a href="/" title="">Home</a>  </li>
                        <li><a href="blogs" title="">Blogs</a>  </li>

                        <li class="menu-item-has-children"><a href="#" title="">Personal Growth</a>
                            <div class="mega-menu1">
                                <div class="tab-content">
                                    <div class="">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <div class="post-style3">
                                                    <div class="post-thumb3"><a href="single.html" title="" class="img-link"><img src="images/resource/megamenu-post1.jpg" alt="" /></a></div>
                                                    <h2><a href="single.html" title="">Habits & Routines</a></h2>
                                                    
                                                </div><!-- Post Stye 3 -->
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="post-style3">
                                                    <div class="post-thumb3"><a href="single.html" title="" class="img-link"><img src="images/resource/megamenu-post2.jpg" alt="" /></a></div>
                                                    <h2><a href="single.html" title="">Mindset</a></h2>
                                                    
                                                </div><!-- Post Stye 3 -->
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="post-style3">
                                                    <div class="post-thumb3"><a href="single.html" title="" class="img-link"><img src="images/resource/megamenu-post3.jpg" alt="" /></a></div>
                                                    <h2><a href="single.html" title="">Success Stories</a></h2>
                                                    
                                                </div><!-- Post Stye 3 -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="menu-item-has-children"><a href="#" title="">Skills & Education</a>
                            <ul class="sub-menu">
                                <li class="menu-item-has-children"><a href="#" title="">Courses</a>
                                    <ul class="sub-menu">
                                        <li><a href="single-with-left-sidebar.html" title="">Books</a></li>
                                        <li><a href="single.html" title="">Blog detail right sidebar</a></li>
                                        <li><a href="single-without-sidebar.html" title="">Blog detail without sidebar</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children"><a href="#" title="">Books</a>
                                    <ul class="sub-menu">
                                        <li><a href="404.html" title="">404 error page</a></li>
                                        <li><a href="coming-soon.html" title="">coming soon</a></li>
                                    </ul>
                                </li>
                                <li><a href="archives.html" title="">Career Skills</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children"><a href="#" title="">Jobs & Career</a>
                            <div class="mega-menu1">
                                <div class="tab-content">
                                    <div class="">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <div class="post-style3">
                                                    <div class="post-thumb3"><a href="single.html" title="" class="img-link"><img src="images/resource/megamenu-post1.jpg" alt="" /></a></div>
                                                    <h2><a href="single.html" title="">Job Listings</a></h2>
                                                    
                                                </div><!-- Post Stye 3 -->
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="post-style3">
                                                    <div class="post-thumb3"><a href="single.html" title="" class="img-link"><img src="images/resource/megamenu-post2.jpg" alt="" /></a></div>
                                                    <h2><a href="single.html" title="">Career Tips</a></h2>
                                                    
                                                </div><!-- Post Stye 3 -->
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="post-style3">
                                                    <div class="post-thumb3"><a href="single.html" title="" class="img-link"><img src="images/resource/megamenu-post3.jpg" alt="" /></a></div>
                                                    <h2><a href="single.html" title="">Freelance Opportunities</a></h2>
                                                    
                                                </div><!-- Post Stye 3 -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="menu-item-has-children"><a href="#" title="">Style & Fashion</a>
                            <li><a href="blogs" title="">Health & Fitness</a>  </li>

                        <li><a href="/contact" title="">Contact Us</a></li>
                    </ul>
                    <ul class="little-info">
                        <li><i class="fa fa-phone-square"></i><span>+971 8753563</span></li>
                        <li><i class="fa fa-envelope"></i><span><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="a4e8cdc2c1c5cdc0e4c3c9c5cdc88ac7cbc9">[email&#160;protected]</a></span></li>
                    </ul>
                </div>
                <ul class="socials">
                    <li><a href="#" title="" class="facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" title="" class="twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" title="" class="google"><i class="fa fa-google-plus"></i></a></li>
                </ul>
            </div><!-- responsive header -->