
<%- include('header') %> <!-- Include header.ejs -->

            <section>
                <div class="gap nogap">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="news-bar"> <span class="news-title">Breaking News</span>
                                    <ul class="news-caro">
                                        <li><a href="single.html" title="">A Eleven Celebrity Mother-Daughters Who Look Exactly Alike Albucius intellegam scripserit. The best energy given by Milk..</a></li>
                                        <li><a href="single.html" title="">A Eleven Celebrity Mother-Daughters Who Look Exactly Alike Albucius intellegam scripserit. The best energy given by Milk..</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section><!--News carousel-->

            <section>
                <div class="gap">
                    <div class="container">
                        <div class="row merged">
                            <div class="col-md-5">
                                <div class="featured-post">
                                    <div class="featured-avatar">
                                        <img src="images/use/adult-1868109_1280.jpg" alt="">
                                    </div>
                                    <div class="featured-meta">
                                        <h2><a href="/predev" title="">Personal Development</a></h2>
                                        <ul class="post-info">
                                            <li><a href="#" title=""><i class="fa fa-heart"></i>16 views</a></li>
                                            <li><a href="#" title=""><i class="fa fa-comments"></i>45 commments</a></li>
                                            <li><a href="#" title=""><i class="fa fa-heart"></i>56 likes</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7 col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="featured-post">
                                            <div class="featured-avatar">
                                                <img src="images/use/bookshelf-413705_1280.jpg" alt="">
                                            </div>
                                            <div class="featured-meta small">
                                                <h2><a href="books" title="">Books</a></h2>
                                                <ul class="post-info">
                                                    <li><a href="#" title=""><i class="fa fa-heart"></i>16 views</a></li>
                                                    <li><a href="#" title=""><i class="fa fa-comments"></i>45 commments</a></li>
                                                    <li><a href="#" title=""><i class="fa fa-heart"></i>56 likes</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="featured-post">
                                            <div class="featured-avatar">
                                                <img src="images/use/online-4668930_1280.jpg" alt="">
                                            </div>
                                            <div class="featured-meta small">
                                                <h2><a href="/courses" title="">Courses</a></h2>
                                                <ul class="post-info">
                                                    <li><a href="#" title=""><i class="fa fa-heart"></i>16 views</a></li>
                                                    <li><a href="#" title=""><i class="fa fa-comments"></i>45 commments</a></li>
                                                    <li><a href="#" title=""><i class="fa fa-heart"></i>56 likes</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="featured-post">
                                            <div class="featured-avatar">
                                                <img src="images/use/dream-job-2904780_1280.jpg" alt="">
                                            </div>
                                            <div class="featured-meta small">
                                                <h2><a href="jobdetails" title="">Avaible Jobs</a></h2>
                                                <ul class="post-info">
                                                    <li><a href="#" title=""><i class="fa fa-heart"></i>16 views</a></li>
                                                    <li><a href="#" title=""><i class="fa fa-comments"></i>45 commments</a></li>
                                                    <li><a href="#" title=""><i class="fa fa-heart"></i>56 likes</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="featured-post">
                                            <div class="featured-avatar">
                                                <img src="images/use/balancing-1868051_1280.jpg" alt="">
                                            </div>
                                            <div class="featured-meta small">
                                                <h2><a href="fashion" title="">Fashion</a></h2>
                                                <ul class="post-info">
                                                    <li><a href="#" title=""><i class="fa fa-heart"></i>16 views</a></li>
                                                    <li><a href="#" title=""><i class="fa fa-comments"></i>45 commments</a></li>
                                                    <li><a href="#" title=""><i class="fa fa-heart"></i>56 likes</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section><!-- top posts -->
            <section id="books">
                <div class="gap">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-6 col-sm-7">
                                        <h4 class="sec-heading strips">Must Reads!</h4>
                                        <div class="list-small-post">
                                            <a href="" title=""><img src="images/resource/list-post-small-1.jpg" alt=""></a>
                                            <div class="list-small-meta">
                                                <ul class="post-meta2">
                                                    <li><i class="fa fa-calendar-o"></i><a href="#" title="">30 May, 2017</a></li>
                                                    <li><i class="fa fa-heart"></i><a href="#" title="">40k likes</a></li>
                                                </ul>
                                                <h2><a href="" title="">Think and grow rich</a></h2>
                                                <ul class="socials">
                                                    <li><a href="" title="" class="facebook"><i class="fa fa-facebook"></i></a></li>
                                                    <li><a href="" title="" class="google"><i class="fa fa-google"></i></a></li>
                                                    <li><a href="" title="" class="twitter"><i class="fa fa-twitter"></i></a></li>
                                                    <li><a href="" title="" class="dribble"><i class="fa fa-dribbble"></i></a></li>
                                                    <li><a href="" title="" class="pinterest"><i class="fa fa-pinterest-p"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="list-small-post">
                                            <a href="" title=""><img src="images/resource/list-post-small-2.jpg" alt=""></a>
                                            <div class="list-small-meta">
                                                <ul class="post-meta2">
                                                    <li><i class="fa fa-calendar-o"></i><a href="#" title="">30 May, 2017</a></li>
                                                    <li><i class="fa fa-heart"></i><a href="#" title="">40k likes</a></li>
                                                </ul>
                                                <h2><a href="" title="">The power of now</a></h2>
                                                <ul class="socials">
                                                    <li><a href="" title="" class="facebook"><i class="fa fa-facebook"></i></a></li>
                                                    <li><a href="" title="" class="google"><i class="fa fa-google"></i></a></li>
                                                    <li><a href="" title="" class="twitter"><i class="fa fa-twitter"></i></a></li>
                                                    <li><a href="" title="" class="dribble"><i class="fa fa-dribbble"></i></a></li>
                                                    <li><a href="" title="" class="pinterest"><i class="fa fa-pinterest-p"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="list-small-post">
                                            <a href="" title=""><img src="images/resource/list-post-small-3.jpg" alt=""></a>
                                            <div class="list-small-meta">
                                                <ul class="post-meta2">
                                                    <li><i class="fa fa-calendar-o"></i><a href="#" title="">30 May, 2017</a></li>
                                                    <li><i class="fa fa-heart"></i><a href="#" title="">40k likes</a></li>
                                                </ul>
                                                <h2><a href="" title="">Atomic Habit</a></h2>
                                                <ul class="socials">
                                                    <li><a href="" title="" class="facebook"><i class="fa fa-facebook"></i></a></li>
                                                    <li><a href="" title="" class="google"><i class="fa fa-google"></i></a></li>
                                                    <li><a href="" title="" class="twitter"><i class="fa fa-twitter"></i></a></li>
                                                    <li><a href="" title="" class="dribble"><i class="fa fa-dribbble"></i></a></li>
                                                    <li><a href="" title="" class="pinterest"><i class="fa fa-pinterest-p"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-5">
                                        <div class="tab-base-post">
                                            <ul class="nav nav-tabs branches">
                                                <li class="active"><a href="#cat1" aria-controls="cat1" data-toggle="tab" aria-expanded="true">Think and grow rich</a></li>
                                                <li class=""><a href="#cat2" aria-controls="cat2" data-toggle="tab" aria-expanded="false">The power of now</a></li>
                                                <li class=""><a href="#cat3" aria-controls="cat3" data-toggle="tab" aria-expanded="false">Atomic Habit</a></li>
                                                <li class=""><a href="#cat4" aria-controls="cat4" data-toggle="tab" aria-expanded="false">Digital Marketing</a></li>
                                            </ul>
                                            <!-- Tab panes -->
                                            <div class="tab-content">
                                                <div role="tabpanel" class="tab-pane fade active in remove-ext" id="cat1">
                                                    <div class="post-grid-style">
                                                        <a href="single.html" title=""><img src="images/resource/gridpost-tab-1.jpg" alt=""></a>
                                                        <div class="post-detail">
                                                            <a class="category" href="#" title="">Health</a>
                                                            <ul class="stars-rank">
                                                                <li><i class="fa fa-star-half-empty"></i></li>
                                                                <li><i class="fa fa-star"></i></li>
                                                                <li><i class="fa fa-star"></i></li>
                                                                <li><i class="fa fa-star"></i></li>
                                                                <li><i class="fa fa-star"></i></li>
                                                            </ul>
                                                            <h2><a href="single.html" title="">Five Reasons You Should Fall In Love With Women</a></h2>
                                                            <ul class="post-meta3">
                                                                <li><i class="fa fa-calendar-o"></i><a href="#" title="">30 May, 2017</a></li>
                                                                <li class="admin"><a href="#" title="">Admin</a></li>
                                                            </ul>
                                                            <p>Scelerisque at, duis torquent laoreet neque, magna maecenas tortor convallis aptent pellentesque duis torquent...</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div role="tabpanel" class="tab-pane fade" id="cat2">
                                                    <div class="post-grid-style">
                                                        <a href="single.html" title=""><img src="images/resource/gridpost-tab-2.jpg" alt=""></a>
                                                        <div class="post-detail">
                                                            <a class="category" href="#" title="">Health</a>
                                                            <ul class="stars-rank">
                                                                <li><i class="fa fa-star-half-empty"></i></li>
                                                                <li><i class="fa fa-star"></i></li>
                                                                <li><i class="fa fa-star"></i></li>
                                                                <li><i class="fa fa-star"></i></li>
                                                                <li><i class="fa fa-star"></i></li>
                                                            </ul>
                                                            <h2><a href="single.html" title="">Fashion Category In Pink Color is the famous color</a></h2>
                                                            <ul class="post-meta3">
                                                                <li><i class="fa fa-calendar-o"></i><a href="#" title="">30 May, 2017</a></li>
                                                                <li class="admin"><a href="#" title="">Admin</a></li>
                                                            </ul>
                                                            <p>Scelerisque at, duis torquent laoreet neque, magna maecenas tortor convallis aptent pellentesque duis torquent...</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div role="tabpanel" class="tab-pane fade" id="cat3">
                                                    <div class="post-grid-style">
                                                        <a href="single.html" title=""><img src="images/resource/gridpost-tab-3.jpg" alt=""></a>
                                                        <div class="post-detail">
                                                            <a class="category" href="#" title="">Health</a>
                                                            <ul class="stars-rank">
                                                                <li><i class="fa fa-star-half-empty"></i></li>
                                                                <li><i class="fa fa-star"></i></li>
                                                                <li><i class="fa fa-star"></i></li>
                                                                <li><i class="fa fa-star"></i></li>
                                                                <li><i class="fa fa-star"></i></li>
                                                            </ul>
                                                            <h2><a href="single.html" title="">Fashion Category In Pink Color is the famous color</a></h2>
                                                            <ul class="post-meta3">
                                                                <li><i class="fa fa-calendar-o"></i><a href="#" title="">30 May, 2017</a></li>
                                                                <li class="admin"><a href="#" title="">Admin</a></li>
                                                            </ul>
                                                            <p>Scelerisque at, duis torquent laoreet neque, magna maecenas tortor convallis 
                                                                aptent pellentesque duis torquent...</p>
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                                <div role="tabpanel" class="tab-pane fade" id="cat4">
                                                    <div class="post-grid-style">
                                                        <a href="single.html" title=""><img src="images/resource/gridpost-tab-4.jpg" alt=""></a>
                                                        <div class="post-detail">
                                                            <a class="category" href="#" title="">Health</a>
                                                            <ul class="stars-rank">
                                                                <li><i class="fa fa-star-half-empty"></i></li>
                                                                <li><i class="fa fa-star"></i></li>
                                                                <li><i class="fa fa-star"></i></li>
                                                                <li><i class="fa fa-star"></i></li>
                                                                <li><i class="fa fa-star"></i></li>
                                                            </ul>
                                                            <h2><a href="single.html" title="">Fashion Category In Pink Color is the famous color</a></h2>
                                                            <ul class="post-meta3">
                                                                <li><i class="fa fa-calendar-o"></i><a href="#" title="">30 May, 2017</a></li>
                                                                <li class="admin"><a href="#" title="">Admin</a></li>
                                                            </ul>
                                                            <p>Scelerisque at, duis torquent laoreet neque, magna maecenas tortor convallis 
                                                                aptent pellentesque duis torquent...</p>
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- content -->
                            <div class="col-md-4">
                                <aside>
                                    <div class="widget">
                                        <div class="widget-title">
                                            <h4>User Authentication</h4>
                                        </div>
                                        <div class="sidebar-login">
                                            <form action="#">
                                                <label>
                                                    <input type="text" placeholder="Username*">
                                                    <i class="fa fa-user"></i>
                                                </label>
                                                <label>
                                                    <input type="password" placeholder="Password*">
                                                    <i class="fa fa-lock"></i>
                                                </label>
                                            </form>
                                        </div>
                                    </div><!-- user login -->
                                    <div class="widget">
                                        <div class="widget-title">
                                            <h4>fashion posts</h4>
                                        </div>
                                        <div class="tab-base-post">
                                            <!-- Tab panes -->
                                            <div class="tab-content">
                                                <div role="tabpanel" class="tab-pane fade active in" id="post1">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="wid-tab-post">
                                                                <a href="#" title=""><img src="images/resource/widget-tab-1.jpg" alt=""></a>
                                                                <h5><a href="#" title="">special wearing in the parties</a></h5>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="wid-tab-post">
                                                                <a href="#" title=""><img src="images/resource/widget-tab-2.jpg" alt=""></a>
                                                                <h5><a href="#" title="">10 tips for facing charm in..</a></h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div role="tabpanel" class="tab-pane fade" id="post2">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="wid-tab-post">
                                                                <a href="#" title=""><img src="images/resource/widget-tab-2.jpg" alt=""></a>
                                                                <h5><a href="#" title="">special wearing in the parties</a></h5>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="wid-tab-post">
                                                                <a href="#" title=""><img src="images/resource/widget-tab-1.jpg" alt=""></a>
                                                                <h5><a href="#" title="">10 tips for facing charm in..</a></h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div role="tabpanel" class="tab-pane fade" id="post3">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="wid-tab-post">
                                                                <a href="#" title=""><img src="images/resource/widget-tab-1.jpg" alt=""></a>
                                                                <h5><a href="#" title="">special wearing in the parties</a></h5>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="wid-tab-post">
                                                                <a href="#" title=""><img src="images/resource/widget-tab-2.jpg" alt=""></a>
                                                                <h5><a href="#" title="">10 tips for facing charm in..</a></h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div role="tabpanel" class="tab-pane fade" id="post4">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="wid-tab-post">
                                                                <a href="#" title=""><img src="images/resource/widget-tab-2.jpg" alt=""></a>
                                                                <h5><a href="#" title="">special wearing in the parties</a></h5>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="wid-tab-post">
                                                                <a href="#" title=""><img src="images/resource/widget-tab-1.jpg" alt=""></a>
                                                                <h5><a href="#" title="">10 tips for facing charm in..</a></h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Tab button -->
                                            <ul class="nav nav-tabs branches wgt-style">
                                                <li class="active"><a href="#post1" aria-controls="post1" data-toggle="tab" aria-expanded="true">Native</a></li>
                                                <li class=""><a href="#post2" aria-controls="post2" data-toggle="tab" aria-expanded="false">Out</a></li>
                                                <li class=""><a href="#post3" aria-controls="post3" data-toggle="tab" aria-expanded="false">Jerseys</a></li>
                                                <li class=""><a href="#post4" aria-controls="post4" data-toggle="tab" aria-expanded="false">Sneakers</a></li>
                                            </ul>
                                        </div>
                                    </div><!-- tab base widget -->
                                </aside>
                            </div><!-- side-widgets -->
                        </div>
                    </div>
                </div>
            </section><!-- content with books -->

            <section>
                <div class="gap nogap">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <h4 class="sec-heading strips">Blog posts</h4>
                            </div>
                            <div class="col-md-3 col-sm-4">
                                <div class="grid-post md3 fadeInup">
                                    <div class="post-avatar">
                                        <a href="single.html" title="" class="img-link">
                                            <img src="images/resource/grid-style-1.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="post-data">
                                        <a class="category" href="#" title="">fashion</a>
                                        <h2><a href="single.html" title="">Five Reasons You Should Fall In Love With Women</a></h2>
                                        <ul class="post-meta2">
                                            <li><i class="fa fa-calendar-o"></i><a href="#" title="">30 May, 2017</a></li>
                                            <li><i class="fa fa-heart"></i><a href="#" title="">40k likes</a></li>
                                        </ul>
                                        
                                    </div>
                                </div><!-- Post Stye 3 -->
                            </div>
                            <div class="col-md-3 col-sm-4">
                                <div class="grid-post md3 fadeInup">
                                    <div class="post-avatar">
                                        <a href="single.html" title="" class="img-link">
                                            <img src="images/resource/grid-style-2.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="post-data">
                                        <a class="category" href="#" title="">fashion</a>
                                        <h2><a href="single.html" title="">The Truth About Girls Is About To Be Revealed</a></h2>
                                        <ul class="post-meta2">
                                            <li><i class="fa fa-calendar-o"></i><a href="#" title="">30 May, 2017</a></li>
                                            <li><i class="fa fa-heart"></i><a href="#" title="">40k likes</a></li>
                                        </ul>
                                        
                                    </div>
                                </div><!-- Post Stye 3 -->
                            </div>
                            <div class="col-md-3 col-sm-4">
                                <div class="grid-post md3 fadeInup">
                                    <div class="post-avatar">
                                        <a href="single.html" title="" class="img-link">
                                            <img src="images/resource/grid-style-3.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="post-data">
                                        <a class="category" href="#" title="">fashion</a>
                                        <h2><a href="single.html" title="">Designer fashion show kicks off Variety Week</a></h2>
                                        <ul class="post-meta2">
                                            <li><i class="fa fa-calendar-o"></i><a href="#" title="">30 May, 2017</a></li>
                                            <li><i class="fa fa-heart"></i><a href="#" title="">40k likes</a></li>
                                        </ul>
                                        
                                    </div>
                                </div><!-- Post Stye 3 -->
                            </div>
                            <div class="col-md-3 col-sm-4">
                                <div class="grid-post md3 fadeInup">
                                    <div class="post-avatar">
                                        <a href="single.html" title="" class="img-link">
                                            <img src="images/resource/grid-style-4.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="post-data">
                                        <a class="category" href="#" title="">fashion</a>
                                        <h2><a href="single.html" title="">Fashion Category Layout In Light Pink Color...</a></h2>
                                        <ul class="post-meta2">
                                            <li><i class="fa fa-calendar-o"></i><a href="#" title="">30 May, 2017</a></li>
                                            <li><i class="fa fa-heart"></i><a href="#" title="">40k likes</a></li>
                                        </ul>
                                        
                                    </div>
                                </div><!-- Post Stye 3 -->
                            </div>
                        </div>
                    </div>
                </div>
            </section><!-- weekly gird post md3 -->

            <section>
                <div class="gap blackish low-opacity">
                    <div class="parallax" style="background:url(images/resource/parallax-2.jpg);" data-velocity="-.2"></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="ads">
                                    <a href="#" title=""><img src="images/resource/ad__.jpg" title="" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section><!--parallax Ads-->

            <section>
                <div class="gap">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8">
                                <h4 class="sec-heading strips">Courses</h4>
                                <div class="row remove-ext">
                                    <div class="col-sm-6">
                                        <div class="post-grid-style">
                                            <a href="single.html" title=""><img src="images/resource/gridpost-tab-1.jpg" alt=""></a>
                                            <div class="post-detail">
                                                <a class="category" href="#" title="">Health</a>
                                                <ul class="stars-rank">
                                                    <li><i class="fa fa-star-half-empty"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                </ul>
                                                <h2><a href="single.html" title="">The Reasons Why We Love Restaurant</a></h2>
                                                <ul class="post-meta3">
                                                    <li><i class="fa fa-calendar-o"></i><a href="#" title="">30 May, 2017</a></li>
                                                    <li class="admin"><a href="#" title="">Admin</a></li>
                                                </ul>
                                                <p>Scelerisque at, duis torquent laoreet neque, magna maecenas tortor convallis 
                                                    aptent pellentesque duis torquent...</p>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="post-grid-style">
                                            <a href="single.html" title=""><img src="images/resource/gridpost-tab-2.jpg" alt=""></a>
                                            <div class="post-detail">
                                                <a class="category" href="#" title="">Health</a>
                                                <ul class="stars-rank">
                                                    <li><i class="fa fa-star-half-empty"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                </ul>
                                                <h2><a href="single.html" title="">Kerala, India: They call it Own Country</a></h2>
                                                <ul class="post-meta3">
                                                    <li><i class="fa fa-calendar-o"></i><a href="#" title="">30 May, 2017</a></li>
                                                    <li class="admin"><a href="#" title="">Admin</a></li>
                                                </ul>
                                                <p>Scelerisque at, duis torquent laoreet neque, magna maecenas tortor convallis 
                                                    aptent pellentesque duis torquent...</p>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="post-grid-style">
                                            <a href="single.html" title=""><img src="images/resource/gridpost-tab-3.jpg" alt=""></a>
                                            <div class="post-detail">
                                                <a class="category" href="#" title="">Health</a>
                                                <ul class="stars-rank">
                                                    <li><i class="fa fa-star-half-empty"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                </ul>
                                                <h2><a href="single.html" title="">Designer fashion show kicks off Variety</a></h2>
                                                <ul class="post-meta3">
                                                    <li><i class="fa fa-calendar-o"></i><a href="#" title="">30 May, 2017</a></li>
                                                    <li class="admin"><a href="#" title="">Admin</a></li>
                                                </ul>
                                                <p>Scelerisque at, duis torquent laoreet neque, magna maecenas tortor convallis 
                                                    aptent pellentesque duis torquent...</p>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="post-grid-style">
                                            <a href="single.html" title=""><img src="images/resource/gridpost-tab-4.jpg" alt=""></a>
                                            <div class="post-detail">
                                                <a class="category" href="#" title="">Health</a>
                                                <ul class="stars-rank">
                                                    <li><i class="fa fa-star-half-empty"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                </ul>
                                                <h2><a href="single.html" title="">Things That Make You Love for Works</a></h2>
                                                <ul class="post-meta3">
                                                    <li><i class="fa fa-calendar-o"></i><a href="#" title="">30 May, 2017</a></li>
                                                    <li class="admin"><a href="#" title="">Admin</a></li>
                                                </ul>
                                                <p>Scelerisque at, duis torquent laoreet neque, magna maecenas tortor convallis 
                                                    aptent pellentesque duis torquent...</p>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="post-grid-style">
                                            <a href="single.html" title=""><img src="images/resource/gridpost-tab-5.jpg" alt=""></a>
                                            <div class="post-detail">
                                                <a class="category" href="#" title="">Health</a>
                                                <ul class="stars-rank">
                                                    <li><i class="fa fa-star-half-empty"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                </ul>
                                                <h2><a href="single.html" title="">7 Stereotypes About Fashion...</a></h2>
                                                <ul class="post-meta3">
                                                    <li><i class="fa fa-calendar-o"></i><a href="#" title="">30 May, 2017</a></li>
                                                    <li class="admin"><a href="#" title="">Admin</a></li>
                                                </ul>
                                                <p>Scelerisque at, duis torquent laoreet neque, magna maecenas tortor convallis 
                                                    aptent pellentesque duis torquent...</p>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="post-grid-style">
                                            <a href="single.html" title=""><img src="images/resource/gridpost-tab-6.jpg" alt=""></a>
                                            <div class="post-detail">
                                                <a class="category" href="#" title="">Health</a>
                                                <ul class="stars-rank">
                                                    <li><i class="fa fa-star-half-empty"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                </ul>
                                                <h2><a href="single.html" title="">New York Fashion Week the shape</a></h2>
                                                <ul class="post-meta3">
                                                    <li><i class="fa fa-calendar-o"></i><a href="#" title="">30 May, 2017</a></li>
                                                    <li class="admin"><a href="#" title="">Admin</a></li>
                                                </ul>
                                                <p>Scelerisque at, duis torquent laoreet neque, magna maecenas tortor convallis 
                                                    aptent pellentesque duis torquent...</p>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <aside>
                                    <div class="widget">
                                        <div class="ad-widget">
                                            <img src="images/resource/ad-widget.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="widget">
                                        <div class="widget-title">
                                            <h4>Our Social Network</h4>
                                        </div>
                                        <ul class="social-widget">
                                            <li>
                                                <a class="social-meta facebook" href="#" title="">
                                                    <i class="fa fa-facebook"></i>
                                                    <span>104, 725</span>
                                                    <ins>Facebook</ins>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="social-meta google" href="#" title="">
                                                    <i class="fa fa-google-plus"></i>
                                                    <span>5, 932</span>
                                                    <ins>google+</ins>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="social-meta twitter" href="#" title="">
                                                    <i class="fa fa-twitter"></i>
                                                    <span>43, 239</span>
                                                    <ins>twitter</ins>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="social-meta flickr" href="#" title="">
                                                    <i class="fa fa-flickr"></i>
                                                    <span>1, 009</span>
                                                    <ins>flickr</ins>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="social-meta pinterest" href="#" title="">
                                                    <i class="fa fa-pinterest-p"></i>
                                                    <span>78, 294</span>
                                                    <ins>pinterest</ins>
                                                </a>
                                            </li>
                                        </ul>
                                    </div><!-- flickr widger -->
                                    <div class="widget">
                                        <div class="widget-title">
                                            <h4>Flickr Feed</h4>
                                        </div>
                                        <ul class="flickr-widget">
                                            <li><a href="#" title=""><img src="images/resource/flickr-widget-1.jpg" alt=""></a></li>
                                            <li><a href="#" title=""><img src="images/resource/flickr-widget-2.jpg" alt=""></a></li>
                                            <li><a href="#" title=""><img src="images/resource/flickr-widget-3.jpg" alt=""></a></li>
                                            <li><a href="#" title=""><img src="images/resource/flickr-widget-4.jpg" alt=""></a></li>
                                            <li><a href="#" title=""><img src="images/resource/flickr-widget-5.jpg" alt=""></a></li>
                                            <li><a href="#" title=""><img src="images/resource/flickr-widget-6.jpg" alt=""></a></li>
                                            <li><a href="#" title=""><img src="images/resource/flickr-widget-7.jpg" alt=""></a></li>
                                            <li><a href="#" title=""><img src="images/resource/flickr-widget-8.jpg" alt=""></a></li>
                                            <li><a href="#" title=""><img src="images/resource/flickr-widget-9.jpg" alt=""></a></li>
                                        </ul>
                                    </div><!-- flickr widger -->
                                    <div class="widget">
                                        <div class="widget-title">
                                            <h4>Popular Videos</h4>
                                        </div>
                                        <div class="popular-video">
                                            <div class="video-carousel" data-hash="tab1">
                                                <div class="video-meta">
                                                    <img src="images/resource/video-widget-1.jpg" alt="">
                                                    <a href="https://player.vimeo.com/video/1084537" data-showsocial="false" class="html5lightbox" data-group="set2" title=""><i class="fa fa-play-circle-o"></i></a>
                                                </div>
                                            </div>
                                            <div class="video-carousel" data-hash="tab2">
                                                <div class="video-meta">
                                                    <img src="images/resource/video-widget-2.jpg" alt="">
                                                    <a href="https://player.vimeo.com/video/1084537" data-showsocial="false" class="html5lightbox" data-group="set2" title=""><i class="fa fa-play-circle-o"></i></a>
                                                </div>
                                            </div>
                                            <div class="video-carousel" data-hash="tab3">
                                                <div class="video-meta">
                                                    <img src="images/resource/video-widget-3.jpg" alt="">
                                                    <a href="https://player.vimeo.com/video/1084537" data-showsocial="false" class="html5lightbox" data-group="set2" title=""><i class="fa fa-play-circle-o"></i></a>
                                                </div>
                                            </div>
                                            <div class="video-carousel" data-hash="tab4">
                                                <div class="video-meta">
                                                    <img src="images/resource/video-widget-4.jpg" alt="">
                                                    <a href="https://player.vimeo.com/video/1084537" data-showsocial="false" class="html5lightbox" data-group="set2" title=""><i class="fa fa-play-circle-o"></i></a>
                                                </div>
                                            </div>
                                            <div class="video-carousel" data-hash="tab5">
                                                <div class="video-meta">
                                                    <img src="images/resource/video-widget-5.jpg" alt="">
                                                    <a href="https://player.vimeo.com/video/1084537" data-showsocial="false" class="html5lightbox" data-group="set2" title=""><i class="fa fa-play-circle-o"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="carousel-btn">
                                            <a href="#tab1" title=""><img src="images/resource/video-widget-btn-1.jpg" alt=""><i class="fa fa-play-circle-o"></i></a>
                                            <a href="#tab2" title=""><img src="images/resource/video-widget-btn-2.jpg" alt=""><i class="fa fa-play-circle-o"></i></a>
                                            <a href="#tab3" title=""><img src="images/resource/video-widget-btn-3.jpg" alt=""><i class="fa fa-play-circle-o"></i></a>
                                            <a href="#tab4" title=""><img src="images/resource/video-widget-btn-4.jpg" alt=""><i class="fa fa-play-circle-o"></i></a>
                                            <a href="#tab5" title=""><img src="images/resource/video-widget-btn-5.jpg" alt=""><i class="fa fa-play-circle-o"></i></a>
                                        </div>
                                    </div><!-- popular video widger -->
                                </aside>
                            </div><!-- side widgets -->
                        </div>
                    </div>
                </div>
            </section><!-- grid posts with side widgets -->


            <%- include('footer') %> <!-- Include footer.ejs -->